:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

}
input {
  width: 700px; 
  height: 30px;
  border-radius: 20px;
  text-align: center;
  border: 2px solid #0054a6; 
  margin-top: 40px;
}
h1 {
  color: white;
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;

}
.logo-img {
  width: 350px; 
  height: auto;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  background-color: #a3a4ad;
  width: 100%;
  height: 40vh;
  padding: 0px;
  box-sizing: border-box;
  color: #fff;
}

input:focus {
  outline: none;
}
table {
  margin: 0 auto;
  background-color: #a3a4ad;
  margin-top: 60px;
}

.maintable {
  max-width: 80%;
  margin: 0 auto;
}

.maintable table {
  width: 100%;
  border-collapse: collapse;
}

.maintable th,
.maintable td {
  padding: 0;
  border: 1px solid #524d4d;
  vertical-align: middle;
}

.maintable td img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

thead {
  font-size: 20px;
  background-color: rgb(255, 255, 255);
}

th {
  padding-bottom: 32px;
  background-color: rgb(255, 255, 255);
}

td {
  width: 300px;
  text-align: center;
  padding: 16px 0;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
}


.charname {
  font-family: 'Arial', sans-serif; 
  font-size: 28px; 
  font-weight: bold;
  font-style: oblique;
  letter-spacing: 2px;

  color: #199fd0;
}

.charname a {
  color: #199fd0;
  text-decoration: none; 
}

.charname a:hover {

  color: #0f3c85; 
}


.footer {
  text-align: center;
}

.footer p {
  margin-bottom: 16px;
}

.footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.header2 {
  background-color: #a3a4ad;
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile__description {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  gap: 16px;
  margin-top: 2rem;
}

.profile__description img {
  margin-left: 2rem;
}

.profile__description div {
  text-align: left;
}
h2 {
  font-size: 2em; 
  font-weight: bold; 
  font-family: 'Arial', sans-serif; 
  color: #199fd0;
}
p {
  padding: 10px 0; 
}
.custom-btn {
  width: 150px;
  height: 60px;
  left: 30px;
  color: #fff;
  border-radius: 20px; 
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  margin-top: 40px;
}


.custom-btnprev, .custom-btnnext {
  width: 150px;
  height: 60px;
  color: #fff;
  border-radius: 20px; /* Decreased border-radius to make it less round */
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  margin-top: 40px; 
  margin-bottom: 20px;
}
.btn-1 {
  background: #43a6d4; /* Pastel blue background color */
  border: none;
}

.btn-1:hover {
  background: #3783aa; /* Darker shade of pastel blue on hover */
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
